@media screen and (min-width:992px){
  header  a{
     text-decoration: none;
     color: black;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header h1{
         font-weight: 100;
    }
    header nav{
        display: flex;
        gap: 15%;
    }
    .beach{
        width: 50%;
        margin: 0;
        padding: 0;
        height: 500px;
    }
    .imgdiv{
        justify-content: center;
        display: flex;
    }
}